
{% extends 'base.html'%}
{% block content%}
			<h1>One Minute Pitch</h1>
			<p>The only place where it is okay to be a one minute man</p>
		</header>
		<hr>
		{% if current_user.is_authenticated %}
		<div class="box">
				
				<div class="inner">
						<a href="{{url_for('main.profile',uname=current_user.username)}}"class="button fit">Profile</a>
				</div>
			</div>
			<div class="box">
				
					<div class="inner">
						<a href="{{url_for('auth.logout')}}"  class="button style2 fit">Sign out</a>
					</div>
				</div>
		{% else %}
		<div class="box">
				
				<div class="inner">
						<a href="{{url_for('auth.login')}}" class="button style2 fit">Sign in</a>
				</div>
			</div>

		{%endif%}
		<a href="#main" href="{{url_for('static',filename='photos/arrow.svg')}}"class="more">View </a>
		<p>fghjkjhhjk</p>

	</div>
</section>           
{% endblock %}
